@charset "utf-8";

.filemanager {
	width: 100%;
	position: relative;
}

@media all and (max-width: 965px) {
	.filemanager {
		margin: 30px auto 0;
		padding: 1px;
	}
}

#files div{
    width: 150px;
    text-align: center;
    display: inline-block;
    margin-left: 1%;
}

#files div p span{
    font-size: 12px;
    line-height: 13px;
    margin: 5px 0;
    display: block;
}

#files div p canvas{
    border: 1px solid #ccc;
}

#files div p canvas img{
    max-width: 100%;
}


/*-------------------------
	Breadcrumps
-------------------------*/


.filemanager .breadcrumbs {
	color: #373743;
	margin:25px 10px 10px 10px;
	font-size: 24px;
	font-weight: 700;
	line-height: 35px;
}

.filemanager .breadcrumbs a:link, .breadcrumbs a:visited {
    background-color: #2a3f54;
    color: #fff;
    padding: 2px 10px;
}

.filemanager .breadcrumbs a:hover {
    background-color: #d2d3d6;
    text-decoration: none;
    color: #2a3f54;
}

.filemanager .breadcrumbs .arrow {
	color:  #6a6a72;
	font-size: 24px;
	font-weight: 700;
	line-height: 20px;
}


/*-------------------------
	Search box
-------------------------*/


.filemanager .search {
	position: absolute;
	padding-right: 30px;
	cursor: pointer;
	right: 10px;
	font-size: 17px;
	color: #373743;
	display: block;
	width: 40px;
    top: 10px;
	height: 40px;
}

.filemanager .search:before {
    border: 2px solid #373743;
    border-radius: 50%;
    content: "";
    height: 11px;
    margin-top: 15px;
    position: absolute;
    right: 10px;
    width: 10px;
}

.filemanager .search:after {
	content: '';
	width: 3px;
	height: 10px;
	background-color: #373743;
	border-radius: 2px;
	position: absolute;
	top: 23px;
	right: 6px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.filemanager .search input[type=search] {
	border-radius: 2px;
	color: #4D535E;
	background-color: #FFF;
	width: 255px;
	height: 40px;
	margin-left: -205px;
	padding-left: 15px;
	text-decoration-color: #4d535e;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	display: none;
	outline: none;
	border: 1px solid #C6C6C6;
	padding-right: 10px;
	-webkit-appearance: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
	color:    #4d535e;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:    #4d535e;
	opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:    #4d535e;
	opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	color:    #4d535e;
}


/*-------------------------
	Content area
-------------------------*/

.filemanager .data {
	margin: 10px 0 0 0;
    padding: 0;
	z-index: -3;
    width: 100%;
}

.filemanager .data.animated {
	-webkit-animation: showSlowlyElement 700ms; /* Chrome, Safari, Opera */
	animation: showSlowlyElement 700ms; /* Standard syntax */
}

.filemanager .data li {
	border-radius: 3px;
	background-color: #e8e8e8;
    width: 23.1%;
	height: 95px;
	list-style-type: none;
	margin: 10px;
	display: inline-block;
	position: relative;
	overflow: hidden;
	padding: 0.3em;
	z-index: 1;
	cursor: pointer;
	box-sizing: border-box;
	transition: 0.3s background-color;
}

.filemanager .data li:hover {
	background-color: #2a3f54;
    color: #fff;
}

.filemanager .data li a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    z-index: 10;
}

.filemanager .data li button.removeFile{
    bottom: 10px;
    color: #34495e;
    display: block;
    height: 20px;
    line-height: 20px;
    margin-left: 93%;
    margin-top: 65px;
    position: absolute;
    right: 10px;
    text-align: center;
    width: 20px;
    z-index: 100;
    background: none;
    border: none;
}

.filemanager .data li button.removeFile:hover{
    text-decoration: none;
    color: #c6393f;
}

.filemanager .data li .name {
	color: #34495e;
	font-size: 13px;
	font-weight: 700;
	line-height: 20px;
	width: 64%;
	white-space: nowrap;
	display: inline-block;
	position: absolute;
	overflow: hidden;
	text-overflow: ellipsis;
	top: 30px;
}

.filemanager .data li .details {
	color: #666;
	font-size: 11px;
	font-weight: 400;
	width: 55px;
	height: 10px;
	top: 50px;
	white-space: nowrap;
	position: absolute;
	display: inline-block;
}

.filemanager .data li:hover .name, .filemanager .data li:hover .details, .filemanager .data li:hover i{
    color: #fff;
}

.filemanager .data li i {
    color: #34495e;
    display: block;
    height: 20px;
    line-height: 20px;
    width: 20px;
}

.filemanager .data li:hover button:hover {
    background: #607993;
}

.filemanager .nothingfound {
	background-color: #373743;
	width: 23em;
	height: 21em;
	margin: 0 auto;
	display: none;
	font-family: Arial;
	-webkit-animation: showSlowlyElement 700ms; /* Chrome, Safari, Opera */
	animation: showSlowlyElement 700ms; /* Standard syntax */
}

.filemanager .nothingfound .nofiles {
	margin: 30px auto;
	top: 3em;
	border-radius: 50%;
	position:relative;
	background-color: #d72f6e;
	width: 11em;
	height: 11em;
	line-height: 11.4em;
}
.filemanager .nothingfound .nofiles:after {
	content: '×';
	position: absolute;
	color: #ffffff;
	font-size: 14em;
	margin-right: 0.092em;
	right: 0;
}

.filemanager .nothingfound span {
	margin: 0 auto auto 6.8em;
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	height: 13px;
	position: relative;
	top: 2em;
}

@media all and (max-width:965px) {

	.filemanager .data li {
		width: 100%;
		margin: 5px 0;
	}

}

/* Chrome, Safari, Opera */
@-webkit-keyframes showSlowlyElement {
	100%   	{ transform: scale(1); opacity: 1; }
	0% 		{ transform: scale(1.2); opacity: 0; }
}

/* Standard syntax */
@keyframes showSlowlyElement {
	100%   	{ transform: scale(1); opacity: 1; }
	0% 		{ transform: scale(1.2); opacity: 0; }
}


/*-------------------------
		Icons
-------------------------*/

.icon {
	font-size: 23px;
}
.icon.folder {
	display: inline-block;
	margin: 0.7em 0.5em 0 0.5em;
	background-color: transparent;
	overflow: hidden;
}
.icon.folder:before {
    background-color: #66b5df;
    border-top-left-radius: 0.1em;
    border-top-right-radius: 0.1em;
    box-shadow: 1.25em 0.25em 0 0 #7ba1ad;
    content: "";
    float: left;
    height: 0.35em;
    margin-bottom: -0.07em;
    margin-left: 0.07em;
    width: 1.2em;
}
.icon.folder:after {
    background-color: #76c4ed;
    border-radius: 0.1em;
    clear: left;
    content: "";
    float: left;
    height: 0.4em;
    width: 2.3em;
}
.icon.folder.full:before {
	height: 0.55em;
}
.icon.folder.full:after {
    height: 2em;
	box-shadow: 0 -0.12em 0 0 #ffffff;
}

.icon.file {
    border-radius: 0.25em;
    box-shadow: 1.74em -2.1em 0 0 #a4a7ac inset;
    color: #fff;
    display: inline-block;
    height: 2.3em;
    line-height: 3em;
    margin: 0.9em 0.5em 0.8em;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 2em;
}
.icon.file:first-line {
	font-size: 12px;
	font-weight: 700;
}
.icon.file:after {
    border-bottom: 1.3em solid #dadde1;
    border-right: 1.22em solid rgba(0, 0, 0, 0);
    border-width: 0 1.22em 1.3em 0;
    content: "";
    position: absolute;
    right: -12px;
    top: -23.5px;
    z-index: -1;
}

.icon.file.f-avi,
.icon.file.f-flv,
.icon.file.f-mkv,
.icon.file.f-mov,
.icon.file.f-mpeg,
.icon.file.f-mpg,
.icon.file.f-mp4,
.icon.file.f-m4v,
.icon.file.f-wmv {
	box-shadow: 1.74em -2.1em 0 0 #7e70ee inset;
}
.icon.file.f-avi:after,
.icon.file.f-flv:after,
.icon.file.f-mkv:after,
.icon.file.f-mov:after,
.icon.file.f-mpeg:after,
.icon.file.f-mpg:after,
.icon.file.f-mp4:after,
.icon.file.f-m4v:after,
.icon.file.f-wmv:after {
	border-bottom-color: #5649c1;
}

.icon.file.f-mp2,
.icon.file.f-mp3,
.icon.file.f-m3u,
.icon.file.f-wma,
.icon.file.f-xls,
.icon.file.f-xlsx {
	box-shadow: 1.74em -2.1em 0 0 #5bab6e inset;
}
.icon.file.f-mp2:after,
.icon.file.f-mp3:after,
.icon.file.f-m3u:after,
.icon.file.f-wma:after,
.icon.file.f-xls:after,
.icon.file.f-xlsx:after {
	border-bottom-color: #448353;
}

.icon.file.f-doc,
.icon.file.f-docx,
.icon.file.f-psd{
	box-shadow: 1.74em -2.1em 0 0 #03689b inset;
}

.icon.file.f-doc:after,
.icon.file.f-docx:after,
.icon.file.f-psd:after {
	border-bottom-color: #2980b9;
}

.icon.file.f-gif,
.icon.file.f-jpg,
.icon.file.f-jpeg,
.icon.file.f-pdf,
.icon.file.f-png {
	box-shadow: 1.74em -2.1em 0 0 #e73c68 inset;
}
.icon.file.f-gif:after,
.icon.file.f-jpg:after,
.icon.file.f-jpeg:after,
.icon.file.f-pdf:after,
.icon.file.f-png:after {
	border-bottom-color: #e73c68;
}

.icon.file.f-deb,
.icon.file.f-dmg,
.icon.file.f-gz,
.icon.file.f-rar,
.icon.file.f-zip,
.icon.file.f-7z {
	box-shadow: 1.74em -2.1em 0 0 #867c75 inset;
}
.icon.file.f-deb:after,
.icon.file.f-dmg:after,
.icon.file.f-gz:after,
.icon.file.f-rar:after,
.icon.file.f-zip:after,
.icon.file.f-7z:after {
	border-bottom-color: #685f58;
}

.icon.file.f-html,
.icon.file.f-rtf,
.icon.file.f-xml,
.icon.file.f-xhtml {
	box-shadow: 1.74em -2.1em 0 0 #a94bb7 inset;
}
.icon.file.f-html:after,
.icon.file.f-rtf:after,
.icon.file.f-xml:after,
.icon.file.f-xhtml:after {
	border-bottom-color: #d65de8;
}

.icon.file.f-js {
	box-shadow: 1.74em -2.1em 0 0 #d0c54d inset;
}
.icon.file.f-js:after {
	border-bottom-color: #a69f4e;
}

.icon.file.f-css,
.icon.file.f-saas,
.icon.file.f-scss {
	box-shadow: 1.74em -2.1em 0 0 #44afa6 inset;
}
.icon.file.f-css:after,
.icon.file.f-saas:after,
.icon.file.f-scss:after {
	border-bottom-color: #30837c;
}

@media (max-width: 1024px) {
	#bsaHolder, footer{ display:none;}
}

.modal-body img{
    margin:0 auto;
}

