#bailNewsletterCreate{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    text-align: justify;
    line-height: 20px;
    width: 600px;
    background: #fff;
    margin: 0 0 0 10px;
    padding:20px 0;
}

#build .well{
    min-height: 300px;
}

#viewBuild{
    width: 600px;
    padding:0 20px;
    background: #fff;
}

.component-menu{
    background: none repeat scroll 0 0 #85c744;
    padding: 5px 10px 5px;
    border: 1px solid #6faf30;
    width: 600px;
    display: block;
    height: 150px;
    color: #fff;
    text-align: center;
}

.component-menu h5{
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}

.component-bloc a{
    background: none repeat scroll 0 0 #fff;
    box-shadow: 1px 1px 1px 1px #417111;
    color: #000;
    display: block;
    float: left;
    font-size: 11px;
    height: 80px;
    line-height: 12px;
    margin: 0 3px 5px 3px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    width: 90px;
}

.component-bloc a:hover{
    -webkit-box-shadow: 2px 2px 2px 2px #2d5506;
    box-shadow: 2px 2px 2px 2px #2d5506;
}

.component-bloc a img{
    width: 50px;
    display: block;
    margin: 0 auto;
    color: #000;
}

#build{
    min-height: 50px;
    height: auto;
    padding:20px 0;
    margin: 10px 0;
    position: relative;
}

.thumbnail.big img{
    max-height: 100px;
}

.edit_content{
    position: relative;
    display: block;
}

.create_content_form{
    margin-left: 20px;
}

.edit_content_form{
    position: absolute;;
    left: 610px;
    top: 0px;
    width: 480px;
    z-index: 100;
    display: none;
}

.edit_content_form .panel label, .create_content_form .panel label{
    font-weight: bold;
}

.edit_content_form:before,
.create_content_form:before {
    color: #85c744;
    content: "◄";
    display: block;
    font-size: 25px;
    font-weight: bold;
    height: 10px;
    left: -21px;
    position: absolute;
    top: 0;
    width: 10px;
}

.edit_content_form:before {
    color: #efa131;
}

.create_content_form:before {
    left: -11px;
    top: -9px;
}


.panel .redactor-box {
    margin-bottom: 0px;
}

#alertMessage{
    position: absolute;
    right: 20px;
    top: 25px;
    width: 50%;
}

.onBuild{
    margin: 0 !important;
}

.panel-body .form-group:last-child{
    margin-bottom: 0;
}