#build .well{
    min-height: 300px;
}

.component-menu{
    margin-bottom: 10px;
}

.component-build{

}

.component-bloc a{
    display: block;
    float: left;
    margin-right: 10px;
    height: 100px;
    width: 125px;
    text-align: center;
    padding: 10px 5px 5px;
    background: #fff;
    -webkit-box-shadow: 1px 1px 2px 1px #ccc;
    box-shadow: 1px 1px 2px 1px #ccc;
    text-align: center;
    color: #333;
    font-size: 12px;
    text-decoration: none;
}

.component-bloc a:hover{
    -webkit-box-shadow: 2px 2px 2px 2px #ccc;
    box-shadow: 2px 2px 2px 2px #ccc;
}

.component-bloc a img{
    width: 80px;
    display: block;
    margin: 0 auto;
}

#build{
    min-height: 150px;
    height: auto;
    padding: 10px;
    background: #fff;
}

.thumbnail.big img{
    max-height: 100px;
}
