#build .well{
    min-height: 300px;
}

.component-menu{
   position: absolute;
   top: -180px;
   right: 0px;
   width: 500px;
   text-align: right;
}

.component-bloc a{
    display: block;
    float: right;
    height: 75px;
    width: 135px;
    text-align: center;
    padding: 5px 3px;
    margin-bottom: 5px;
    margin-right: 5px;
    background: #fff;
    -webkit-box-shadow: 1px 1px 2px 1px #ccc;
    box-shadow: 1px 1px 2px 1px #ccc;
    text-align: center;
    color: #333;
    font-size: 12px;
    text-decoration: none;
}

.component-bloc a:hover{
    -webkit-box-shadow: 2px 2px 2px 2px #ccc;
    box-shadow: 2px 2px 2px 2px #ccc;
}

.component-bloc a img{
    width: 65px;
    display: block;
    margin: 0 auto;
}

#build{
    min-height: 150px;
    height: auto;
    padding:20px 10px;
    margin: 10px;
    border-top:2px solid #ddd;
    position: relative;
}

.thumbnail.big img{
    max-height: 100px;
}

.edit_content{
    position: relative;
    display: block;
}

.edit_content_form{
    position: absolute;;
    left: 640px;
    top: 0;
    z-index: 100;
}