a {color: #dd0330;}
.post-title h3.title, .post-title h3.title a {
    color: #dd0330;
}
blockquote.color {background: #dd0330;}
.dropcap.color {background-color: #dd0330;}
.parallax-background.color .item-mask {background: #dd0330;}
.section.alternate.color {background: #dd0330;}
.menu li a:hover, .menu li.sfHover a, .menu li:hover ul li a:hover, .menu li li:hover ul li a:hover, .menu li ul li.sfHover a {color: #dd0330;}
#three-lines-menu a:hover {background: #dd0330;}
#mobile-menu ul li a.active {background: #dd0330;}
#mobile-menu ul li a:hover {color: #dd0330;}
#footer a:hover {color: #dd0330;}
.bra_tweets .tweet_text a, #footer .bra_tweets .tweet_text a {color: #dd0330;}
.bra_tweets a:hover , #footer .bra_tweets a:hover, .bra_tweets a.twitter_time:hover, #footer .bra_tweets a.twitter_time:hover {color: #dd0330;}
.photostream a .item-mask:hover {background-color: #dd0330;}
.team h2 {color: #dd0330;}	
.team .social-personal li a:hover {color:#dd0330;}
.skills-graph li span {background-color: #dd0330;}
.grey:hover { background-color:#dd0330; }
.highlight1 {background-color: #dd0330;}
.item-info-overlay h3.title, .item-info-overlay h3.title a {color: #dd0330;}
.item-info-overlay .outline:hover {box-shadow: 0 0 0 1px #dd0330 inset;	background-color: #dd0330;}
.filterable li.current a {color:#dd0330;}
ul.item-nav li:hover {background: #dd0330;}
.contact-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
    width: 100%;
    padding: 10px 20px;
}
.tagcloud a:hover {background-color: #dd0330;}


.widget a:hover {color: #fff;}
.timeline .post-info a:hover {color: #dd0330;}
.timeline .post-info li.comments a {color: #dd0330;}
.post-title h2.title, .post-title h2.title a {color: #dd0330;}
.comment .author a:hover, .comment .children .author a:hover {color: #dd0330;}
.comment .reply:hover {background-color:#dd0330;}
.comment .children .comment-meta .reply:hover {background-color: #dd0330;}
.archive.fullwidth li:hover .title a {color: #dd0330;}
.archive-nav .tagcloud a:hover {background-color: #dd0330;}
#archive-nav a.active {color: #dd0330;}


.flex-direction-nav a:hover {background-color:#dd0330;}


.fwslider nav span:hover {background-color: #dd0330;}
.cbp-fwdots span:hover {border: 2px solid #dd0330;background-color: #dd0330;}
.cbp-fwdots span.cbp-fwcurrent {border: 2px solid #dd0330;}


.bx-wrapper .bx-pager.bx-default-pager a:hover {border: 2px solid #dd0330;background-color: #dd0330;}
.bx-wrapper .bx-pager.bx-default-pager a.active {border: 2px solid #dd0330;}
.section.alternate.dark .bx-wrapper .bx-pager.bx-default-pager a:hover {border: 2px solid #dd0330;background-color: #dd0330;}
.bx-wrapper .bx-prev:hover, .bx-wrapper .bx-next:hover {background-color:#dd0330;}


div.jp-play-bar {background-color: #dd0330;}
div.jp-volume-bar-value {background-color: #dd0330;}