#arret-annees li a {
    background: url("../images/check.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 18px;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 0 0 0 20px;
    text-decoration: none;
}

#arret-annees li a:hover {
    color: #dd0330;
    text-decoration: none;
}

#arret-annees li a.active {
    background: url("../images/check.png") no-repeat scroll 0 -26px rgba(0, 0, 0, 0);
    color: #dd0330;
    text-decoration: none;
}

#filtering .arrets .arret.hidden,
#filtering .analyses .arret.hidden,
#filtering .analyses.hidden{
    display: none;
}

.arrets .arret{
    margin-bottom: 20px;
}
