
#main{
    margin-top:20px;
}

#bailNewsletter,
#bailNewsletterCreate{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    text-align: justify;
    line-height: 20px;
    width: 600px;
    margin: 0 auto;
}

#bailNewsletterCreate{
    padding:20px;
    margin: 0 0 0 10px;
}

#bailNewsletter .resetMarge ,
#bailNewsletterCreate .resetMarge{
    padding: 0;
    margin: 0;
}

#bailNewsletter .resetTable,
#bailNewsletterCreate .resetTable{
    border-collapse:collapse;
    mso-table-lspace:0pt;
    mso-table-rspace:0pt;
    margin: 0;
    padding: 0;
}

#bailNewsletter #sortable td,
#bailNewsletterCreate #sortable td{
    background: #fff;
}

#bailNewsletter .redBail,
#bailNewsletterCreate .redBail{
    color: #cb2629;
}

#bailNewsletter .header,
#bailNewsletterCreate .header{
    color: #ffffff;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

#bailNewsletter .header.headerSmall,
#bailNewsletterCreate .header.headerSmall{
    font-size: 15px;
}

#bailNewsletter h2,
#bailNewsletter .contentForm h3,
#bailNewsletter .contentForm h4,
#bailNewsletter .contentForm p,
#bailNewsletter .contentForm a,
#bailNewsletter .contentForm ul li,
#bailNewsletterCreate h2,
#bailNewsletterCreate .contentForm h3,
#bailNewsletterCreate .contentForm h4,
#bailNewsletterCreate .contentForm p,
#bailNewsletterCreate .contentForm a,
#bailNewsletterCreate .contentForm ul li{
    margin: 0 0 10px 0;
    padding: 0;
}

#bailNewsletter h2,
#bailNewsletterCreate h2{
    font-size:14px;
    font-weight:bold;
    color: #cb2629;
}

#bailNewsletter .contentForm h3,
#bailNewsletterCreate .contentForm h3,
#bailNewsletter .contentForm h4,
#bailNewsletterCreate .contentForm h4{
    font-size:13px;
    font-weight:bold;
    color: #cb2629;
}

#bailNewsletter .abstract,
#bailNewsletterCreate .abstract{
    color: #666;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
    margin: 0 0 10px;
    padding: 0;
    text-align: justify;
}

#bailNewsletter .contentForm a,
#bailNewsletterCreate .contentForm a{
    color: #000;
    text-decoration: underline;
}

#bailNewsletter .contentForm h4 ,
#bailNewsletter .contentForm p ,
#bailNewsletter .contentForm ul li,
#bailNewsletterCreate .contentForm h4 ,
#bailNewsletterCreate .contentForm p ,
#bailNewsletterCreate .contentForm ul li{
    font-size:12px;
    font-weight:normal;
}

#bailNewsletter  p,
#bailNewsletter .contentForm p,
#bailNewsletter .contentForm div,
#bailNewsletter .contentForm .content,
#bailNewsletterCreate  p,
#bailNewsletterCreate .contentForm p,
#bailNewsletterCreate .contentForm div,
#bailNewsletterCreate .contentForm .content{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    text-align: justify;
}

#bailNewsletter .contentForm ul,
#bailNewsletterCreate .contentForm ul{
    margin-left: 5px;
}

#bailNewsletter .contentForm ul li,
#bailNewsletterCreate .contentForm ul li{
    text-align:justify;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    font-weight:normal;
    color:#1c1c1b;
    margin-bottom: 5px;
}

#bailNewsletter .thumbnail,
#bailNewsletterCreate .thumbnail{
    margin-bottom: 0;
    max-width: 130px;
    background: none;
    border-radius: 0;
    padding: 0;
}

#bailNewsletter .thumbnail.big,
#bailNewsletterCreate .thumbnail.big{
    margin-bottom: 0;
    max-width: 560px;
    max-height: 130px;
}

#bailNewsletter .upoadBtn a,
#bailNewsletterCreate .upoadBtn a{
    background: none repeat scroll 0 0 #ccc;
    border: medium none;
    border-radius: 0;
    color: #777;
    padding: 5px 10px;
}

#bailNewsletter .linkGrey,#bailNewsletter a.linkGrey,
#bailNewsletterCreate .linkGrey,#bailNewsletterCreate a.linkGrey{
    color: #999;
    font-size: 11px;
    font-weight: normal;
    font-family: Helvetica, Arial, sans-serif;
}

#bailNewsletter .blocBorder,
#bailNewsletterCreate .blocBorder{
    border-bottom:1px solid #ededed;
}

#bailNewsletter .newsletterborder,
#bailNewsletterCreate .newsletterborder{
    border:1px solid #ededed;
}

#bailNewsletter .contentForm .centerText,#bailNewsletter p.centerText,#bailNewsletter p.centerText a,
#bailNewsletterCreate .contentForm .centerText,#bailNewsletterCreate p.centerText,#bailNewsletterCreate p.centerText a{
    text-align: center;
}