
/*---------------960 Screen size---------------*/
@media only screen and (min-width: 970px) and (max-width: 1200px) {

    .menu li a {
        font-size:11px;
        padding: 0 3px;
    }

    .logos a{
        width: 32%;
        display: inline-block;
    }

}

/*---------------iPad landscape---------------*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

}

/*---------------iPad portrait---------------*/
@media only screen and (min-width: 750px) and (max-width: 969px) {

}

/*---------------iPhone landscape---------------*/
@media only screen and (min-width: 480px) and (max-width: 749px) {
}

/*--------------iPhone portrait---------------*/
@media only screen and (min-width: 320px) and (max-width: 479px) {

}


/*---------------Blog Responsive CSS---------------*/

/*---------------960 Screen size---------------*/
@media only screen and (min-width: 970px) and (max-width: 1170px) {

}

/*---------------iPad portrait---------------*/
@media only screen and (min-width: 750px) and (max-width: 969px) {
    #sidebar {
        padding-bottom: 20px;
        background: none;
    }
    #primary-menu{
        margin-bottom: 10px;
    }
    #primary-menu,.menu{
        float: left;
    }
    .logos{
        text-align: left;
    }
    .logos a{
        width: 100%;
        display: inline;
    }
}

/*---------------iPhone landscape---------------*/
@media only screen and (min-width: 480px) and (max-width: 749px) {
    #sidebar {
        padding-bottom: 20px;
        background: none;
    }
    #primary-menu{
        margin-bottom: 10px;
    }
    #primary-menu, .menu{
        float: left;
    }
    .logos{
        text-align: left;
    }
    .logos a{
        width: 100%;
        display: inline;
    }
}

/*---------------iPhone portrait---------------*/
@media only screen and (min-width: 320px) and (max-width: 479px) {
    #sidebar {
        width: 100%;
        background: #ccc;
    }
    #primary-menu{
        margin-bottom: 10px;
    }
    #primary-menu,.menu{
        float: left;
    }
    .logos{
        text-align: left;
    }
    .logos a{
        width: 100%;
        display: inline;
    }
}