a {color: #F9A7B0;}
blockquote.color {background: #F9A7B0;}
.dropcap.color {background-color: #F9A7B0;}
.parallax-background.color .item-mask {background: #F9A7B0;}
.section.alternate.color {background: #F9A7B0;}
.menu li a:hover, .menu li.sfHover a, .menu li:hover ul li a:hover, .menu li li:hover ul li a:hover, .menu li ul li.sfHover a {color: #F9A7B0;}
#three-lines-menu a:hover {background: #F9A7B0;}
#mobile-menu ul li a.active {background: #F9A7B0;}
#mobile-menu ul li a:hover {color: #F9A7B0;}
#footer a:hover {color: #F9A7B0;}
.bra_tweets .tweet_text a, #footer .bra_tweets .tweet_text a {color: #F9A7B0;}
.bra_tweets a:hover , #footer .bra_tweets a:hover, .bra_tweets a.twitter_time:hover, #footer .bra_tweets a.twitter_time:hover {color: #F9A7B0;}
.photostream a .item-mask:hover {background-color: #F9A7B0;}
.team h2 {color: #F9A7B0;}	
.team .social-personal li a:hover {color:#F9A7B0;}
.skills-graph li span {background-color: #F9A7B0;}
.grey:hover { background-color:#F9A7B0; }
.highlight1 {background-color: #F9A7B0;}
.item-info-overlay h3.title, .item-info-overlay h3.title a {color: #F9A7B0;}
.item-info-overlay .outline:hover {box-shadow: 0 0 0 1px #F9A7B0 inset;	background-color: #F9A7B0;}
.filterable li.current a {color:#F9A7B0;}
ul.item-nav li:hover {background: #F9A7B0;}
.contact-success {background-color: #F9A7B0;}
.tagcloud a:hover {background-color: #F9A7B0;}


.widget a:hover {color: #F9A7B0;}
.timeline .post-info a:hover {color: #F9A7B0;}
.timeline .post-info li.comments a {color: #F9A7B0;}
.post-title h2.title, .post-title h2.title a {color: #F9A7B0;}
.comment .author a:hover, .comment .children .author a:hover {color: #F9A7B0;}
.comment .reply:hover {background-color:#F9A7B0;}
.comment .children .comment-meta .reply:hover {background-color: #F9A7B0;}
.archive.fullwidth li:hover .title a {color: #F9A7B0;}
.archive-nav .tagcloud a:hover {background-color: #F9A7B0;}
#archive-nav a.active {color: #F9A7B0;}


.flex-direction-nav a:hover {background-color:#F9A7B0;}


.fwslider nav span:hover {background-color: #F9A7B0;}
.cbp-fwdots span:hover {border: 2px solid #F9A7B0;background-color: #F9A7B0;}
.cbp-fwdots span.cbp-fwcurrent {border: 2px solid #F9A7B0;}


.bx-wrapper .bx-pager.bx-default-pager a:hover {border: 2px solid #F9A7B0;background-color: #F9A7B0;}
.bx-wrapper .bx-pager.bx-default-pager a.active {border: 2px solid #F9A7B0;}
.section.alternate.dark .bx-wrapper .bx-pager.bx-default-pager a:hover {border: 2px solid #F9A7B0;background-color: #F9A7B0;}
.bx-wrapper .bx-prev:hover, .bx-wrapper .bx-next:hover {background-color:#F9A7B0;}


div.jp-play-bar {background-color: #F9A7B0;}
div.jp-volume-bar-value {background-color: #F9A7B0;}