a {color: #C25283;}
blockquote.color {background: #C25283;}
.dropcap.color {background-color: #C25283;}
.parallax-background.color .item-mask {background: #C25283;}
.section.alternate.color {background: #C25283;}
.menu li a:hover, .menu li.sfHover a, .menu li:hover ul li a:hover, .menu li li:hover ul li a:hover, .menu li ul li.sfHover a {color: #C25283;}
#three-lines-menu a:hover {background: #C25283;}
#mobile-menu ul li a.active {background: #C25283;}
#mobile-menu ul li a:hover {color: #C25283;}
#footer a:hover {color: #C25283;}
.bra_tweets .tweet_text a, #footer .bra_tweets .tweet_text a {color: #C25283;}
.bra_tweets a:hover , #footer .bra_tweets a:hover, .bra_tweets a.twitter_time:hover, #footer .bra_tweets a.twitter_time:hover {color: #C25283;}
.photostream a .item-mask:hover {background-color: #C25283;}
.team h2 {color: #C25283;}	
.team .social-personal li a:hover {color:#C25283;}
.skills-graph li span {background-color: #C25283;}
.grey:hover { background-color:#C25283; }
.highlight1 {background-color: #C25283;}
.item-info-overlay h3.title, .item-info-overlay h3.title a {color: #C25283;}
.item-info-overlay .outline:hover {box-shadow: 0 0 0 1px #C25283 inset;	background-color: #C25283;}
.filterable li.current a {color:#C25283;}
ul.item-nav li:hover {background: #C25283;}
.contact-success {background-color: #C25283;}
.tagcloud a:hover {background-color: #C25283;}


.widget a:hover {color: #C25283;}
.timeline .post-info a:hover {color: #C25283;}
.timeline .post-info li.comments a {color: #C25283;}
.post-title h2.title, .post-title h2.title a {color: #C25283;}
.comment .author a:hover, .comment .children .author a:hover {color: #C25283;}
.comment .reply:hover {background-color:#C25283;}
.comment .children .comment-meta .reply:hover {background-color: #C25283;}
.archive.fullwidth li:hover .title a {color: #C25283;}
.archive-nav .tagcloud a:hover {background-color: #C25283;}
#archive-nav a.active {color: #C25283;}


.flex-direction-nav a:hover {background-color:#C25283;}


.fwslider nav span:hover {background-color: #C25283;}
.cbp-fwdots span:hover {border: 2px solid #C25283;background-color: #C25283;}
.cbp-fwdots span.cbp-fwcurrent {border: 2px solid #C25283;}


.bx-wrapper .bx-pager.bx-default-pager a:hover {border: 2px solid #C25283;background-color: #C25283;}
.bx-wrapper .bx-pager.bx-default-pager a.active {border: 2px solid #C25283;}
.section.alternate.dark .bx-wrapper .bx-pager.bx-default-pager a:hover {border: 2px solid #C25283;background-color: #C25283;}
.bx-wrapper .bx-prev:hover, .bx-wrapper .bx-next:hover {background-color:#C25283;}


div.jp-play-bar {background-color: #C25283;}
div.jp-volume-bar-value {background-color: #C25283;}